<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>mac_big_normal.png</string>
	<key>CFBundleIconName</key>
	<string>mac_big_normal.png</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<dict/>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2021 Greystone. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>RobotoCondensed-Bold.ttf</string>
		<string>RobotoCondensed-BoldItalic.ttf</string>
		<string>RobotoCondensed-Italic.ttf</string>
		<string>RobotoCondensed-Light.ttf</string>
		<string>RobotoCondensed-LightItalic.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>helvetica-neue-bold-italic.ttf</string>
		<string>helvetica-neue-bold.ttf</string>
		<string>helvetica-neue-condensed-black.ttf</string>
		<string>helvetica-neue-condensed-bold.ttf</string>
		<string>helvetica-neue-italic.ttf</string>
		<string>helvetica-neue-light-italic.ttf</string>
		<string>helvetica-neue-light.ttf</string>
		<string>helvetica-neue-medium.ttf</string>
		<string>helvetica-neue-regular.ttf</string>
		<string>helvetica-neue-ultra-light-italic.ttf</string>
		<string>helvetica-neue-ultra-light.ttf</string>
		<string>HelveticaNeue-Bold.otf</string>
		<string>HelveticaNeue-BoldItalic.otf</string>
		<string>HelveticaNeue-CondensedBlack.otf</string>
		<string>HelveticaNeue-CondensedBold.otf</string>
		<string>HelveticaNeue-Italic.otf</string>
		<string>HelveticaNeue-Light.otf</string>
		<string>HelveticaNeue-LightItalic.otf</string>
		<string>HelveticaNeue-Medium.otf</string>
		<string>HelveticaNeue-UltraLight.otf</string>
		<string>HelveticaNeue-UltraLightItalic.otf</string>
		<string>HelveticaNeue.otf</string>
		<string>helveticaneue.ttf</string>
		<string>helveticaneuebold.ttf</string>
		<string>helveticaneuebolditalic.ttf</string>
		<string>helveticaneuecondensedblack.ttf</string>
		<string>helveticaneuecondensedbold.ttf</string>
		<string>helveticaneueitalic.ttf</string>
		<string>helveticaneuelight.ttf</string>
		<string>helveticaneuelightitalic.ttf</string>
		<string>helveticaneuemedium.ttf</string>
		<string>helveticaneueultralight.ttf</string>
		<string>helveticaneueultralightitalic.ttf</string>
		<string>LibreBarcode128-Regular.ttf</string>
		<string>code128.ttf</string>
	</array>
</dict>
</plist>
